{% extends 'base.html.twig' %}

{% block body %}
    <h1>Experiences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Poste</th>
                <th>Date</th>
                <th>Entreprise</th>
                <th>Mission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td><a href="{{ path('experience_show', { 'id': experience.id }) }}">{{ experience.id }}</a></td>
                <td>{{ experience.poste }}</td>
                <td>{{ experience.date }}</td>
                <td>{{ experience.entreprise }}</td>
                <td>{{ experience.mission }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('experience_show', { 'id': experience.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('experience_edit', { 'id': experience.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('experience_new') }}">Create a new experience</a>
        </li>
    </ul>
{% endblock %}
