{% extends 'base.html.twig' %}

{% block body %}
    <h1>Experience</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ experience.id }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ experience.poste }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ experience.date }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ experience.entreprise }}</td>
            </tr>
            <tr>
                <th>Mission</th>
                <td>{{ experience.mission }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('experience_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('experience_edit', { 'id': experience.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
